*, *::before, *::after{
    /*background-color: linear-gradient(red, blue);*/
   
    box-sizing: border-box;
    
}
*{
    font-family: Cambria, Cochin, Georgia, Times, 
    'Times New Roman', serif;
    font-size: small;
    font-style: oblique;
}
body{
    margin: 0;
}
#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 176, 225);
    text-align: center;
    padding: 10px;
}
#main-container:nth-child(4){
    padding-left: 5px;
    padding-right: 5px;
}
img{
    width: 150px;
    max-width: 100%;
    border-radius: 50%;
}

li{
    list-style: none;
}
a{
    /*text-decoration: none;*/
    text-decoration-color: crimson;
}
.mini-containers{
    margin: 3px;
    padding: 5px;
    max-width: 600px;
    color: rgb(3, 0, 15);
}
/*.mini-containers > img{
    z-index: -1;
}*/

h1{
    font-size: x-large;
}
h2{
    font-size: larger;
}
.container-grid{
    background-color: rgb(15, 27, 16);
    display: flex;
    /* flex: 1; */
    /* justify-content: space-between; */
    align-items: center;
}
#img2{
    width: 100px;
    max-width: 150px;
    margin-right: auto;
    
    
}
button{
    min-width: 75px;
    min-height: 25px;
    margin: 3rem;
    border-radius: 10px;
    padding: 0.50rem;
    
}